doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Prototype
    link(rel='stylesheet', href='/style.css')
  body
    input#input1(type='text')
    input#input2(type='text')
    button#answer Answer  
    input#total(type='text')
      
    .odds
      h3 Odds
        ul#odd
          
    .evens
      h3 Even
        ul#even
               
    
    script(src='/vendor/jquery/dist/jquery.js')
    script(src='/main.js')
